
<div class="about-div">
<div id="aboutpagewell"class="well">

 <div class="container">
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="">
          <br><p><strong>Jesse Santangelo - Dev</strong></p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget euismod urna. Donec tincidunt a quam quis volutpat. Aenean vel augue sapien. Pellentesque nec dapibus lacus. Donec blandit felis a rhoncus porta. </p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="">
          <br><p><strong>Paul Sladek - Dev</strong></p><p>Attended San Francisco State University where he recieved a BS in Computer Science. He is currently an intern at WebDAM solutions. Please checkout his ios game Sparkles, now in the app store. Paul also likes scotch, bitches, and cigars. A Lot.</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img src="/assets/alon_profile.jpg" alt="">
          <br><p><strong>Alon - Dev</strong></p><p> Attended San Francisco State University and recieved a BS in Computer Science with a minor in Mathematics. He likes developing for Android and web. He published an app in the Play Store for public transportation prediction and is diving deeper into improving usibility on Android platform.</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="">
          <br><p><strong>Aaron - Dev</strong></p><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget euismod urna. Donec tincidunt a quam quis volutpat. Aenean vel augue sapien. Pellentesque nec dapibus lacus. Donec blandit felis a rhoncus porta. </p>
        </div>
      </li>
    </ul>
    
  </div>
</div>
</div>
</div>