
<div class="liveGraph-div">

 <div class="container">
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="">
          <p>Jesse info here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget euismod urna. Donec tincidunt a quam quis volutpat. Aenean vel augue sapien. Pellentesque nec dapibus lacus. Donec blandit felis a rhoncus porta. Cras interdum felis a urna fermentum rutrum.</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="">
          <p>Paul info here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget euismod urna. Donec tincidunt a quam quis volutpat. Aenean vel augue sapien. Pellentesque nec dapibus lacus. Donec blandit felis a rhoncus porta. Cras interdum felis a urna fermentum rutrum.</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="">
          <p>Alon info here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget euismod urna. Donec tincidunt a quam quis volutpat. Aenean vel augue sapien. Pellentesque nec dapibus lacus. Donec blandit felis a rhoncus porta. Cras interdum felis a urna fermentum rutrum.</p>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="">
          <p>Aaron info here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget euismod urna. Donec tincidunt a quam quis volutpat. Aenean vel augue sapien. Pellentesque nec dapibus lacus. Donec blandit felis a rhoncus porta. Cras interdum felis a urna fermentum rutrum.</p>
        </div>
      </li>
    </ul>
    
  </div>
</div>
</div>