<div class="user-div">
<div class="well">
Congratulations, you are an admin.<br />

<%= link_to "Manage problems", main_app.problems_path %><br />
<%= link_to "Manage games", main_app.games_path %><br />
</div>
</div>
