<div class="competition-div" id="competition-div">
	<div id="editor">class main{
	public static void main(String args[]){
		System.out.println("it works");
	}
}</div>
	<div id="sideBar">
		<div class="well well-small text-center" id="timer">
       			timer
		</div>
		<div class="tabbable well well-small">
			Description: 
			<div class="well well-small" id="challengeDescription" >
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
		<div class="btn-group text-center" id="submissionBtns">
			<button type="button" class="btn btn-large" id="checkBtn">Check</button>
			<button type="button" class="btn btn-large" id="submitBtn">Submit</button>
		</div>
	</div>
</div>
<script>
	var randomString = '';
	var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
	for(var i=0; i < 20; i++){
		randomString += possible.charAt(Math.floor(Math.random() * possible.length));
	}
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/clouds");
	editor.getSession().setMode("ace/mode/java");
	function resizeAce() {
		var height=$(window).height();
		var width=$(window).width();
		$('#competition-div').height(height-90);
		$('#competition-div').width(width-30);
		$('#editor').width(1.618/2.618*width-13);
		$('#editor').height(height-120);
		$('#challengeDescription').height($(window).height()-300);
		$('#sideBar').width(width/2.618-63);
		$('#submissionBtns').width(width/2.618-63);
	};
	$(window).resize(resizeAce);
	resizeAce();
	$('#checkBtn').click(function(){
		checkOrSubmit(false,function(result){
			alert(result);
		})
	});
	$('#submitBtn').click(function(){
		checkOrSubmit(true,function(){
			alert('submit');
		})
	});
	function checkOrSubmit(submitBool,customFunc){
		submission = {"<%= request_forgery_protection_token.to_s%>":"<%= form_authenticity_token%>",
			"session":randomString,
			"code":editor.getValue(),
			"submit":submitBool}
		$.ajax({
			type:"POST",
			url:'/games/run/',
			data: submission,
			success: function(result){
				customFunc(result);
			}
		});
	}
</script>
