<div class="competition-div row">
	<div class="span8">
		<div id="editor">class main{
	public static void main(String args[]){
		System.out.println("it works");
	}
}</div>
	</div>
	<div class="span4" id="sideBar">
		<div class="well well-small text-center" id="timer">
       			timer
		</div>
		<div class="tabbable well well-small"> 
			<ul class="nav nav-tabs" id="descTabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Problem Description</a></li>
				<li><a href="#tab2" data-toggle="tab">Class List</a></li>
			</ul>
			<div class="well well-small" id="challengeDescription" >
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="tab-pane" id="tab2">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-group compbuttongroup">
			<button type="button" class="btn btn-large" id="checkBtn">Check</button>
			<button type="button" class="btn btn-large btn-primary" id="submitBtn">Submit</button>
			<button type="button" class="btn btn-large" id="uploadBtn">Upload</button>
		</div>
	</div>
</div>
<script>
	var randomString = '';
	var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
	for(var i=0; i < 20; i++){
		randomString += possible.charAt(Math.floor(Math.random() * possible.length));
	}
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/clouds");
	editor.getSession().setMode("ace/mode/java");
	function resizeAce() {
		var offset=150;
		$('#challengeDescription').height($(window).height()-offset-200);
		$('#editor').height($(window).height()-offset);
	 };
	$(window).resize(resizeAce);
	resizeAce();
	$('#checkBtn').click(function(){
		checkOrSubmit(false,function(result){
			alert(result);
		})
	});
	$('#submitBtn').click(function(){
		checkOrSubmit(true,function(){
			alert('submit');
		})
	});
	$('#uploadBtn').click(function(){
		alert('upload');
	});
	function checkOrSubmit(submitBool,customFunc){
		submission = {"<%= request_forgery_protection_token.to_s%>":"<%= form_authenticity_token%>",
			"session":randomString,
			"code":editor.getValue(),
			"submit":submitBool}
		$.ajax({
			type:"POST",
			url:'/games/run/',
			data: submission,
			success: function(result){
				customFunc(result);
			}
		});
	}
</script>
