<section class="play_links">
	<ul class="ch-grid">
	    <li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	                <h3>
	                	<%= link_to "PLAY", main_app.liveGraph_path , :class => 'whitelink' %>
	                </h3>
	                
	            </div>
	        </div>
	    </li>
	    <li>
	        <div class="ch-item ch-img-2">
	            <div class="ch-info">
	                <h3>
	                	<%= link_to "PRACTICE", main_app.practice_path, :class => 'whitelink' %>
	                </h3>
	                
	            </div>
	        </div>
	    </li>
	    <li>
        	<div class="ch-item ch-img-3">
            	<div class="ch-info">
                	<h3>
                		<%= link_to "DISCUSS", main_app.discuss_path, :class => 'whitelink' %>
                	</h3>
                
            	</div>
        	</div>
	    </li>
	</ul>
</section>
<section class="info-text">
	<div class="grey-section">
		<h2>
		  How to Play
		</h2>
		<p class="intro">
		  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		</p>
	</div>
</section>
<section class="info-text">
	<div class="white-section">
		<h2>
		  A Little About This Site
		</h2>
		<p class="intro">
		  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
		</p>
	</div>
</section>