<section class="play_links">
	<ul class="ch-grid">
		<li>
			<div class="ch-item ch-img-1">
				<div class="ch-info">
					<h3>
						<%= link_to "PLAY", main_app.liveGraph_path , :class => 'whitelink' %>
					</h3>

				</div>
			</div>
		</li>
		<li>
			<div class="ch-item ch-img-2">
				<div class="ch-info">
					<h3>
						<%= link_to "PRACTICE", main_app.practice_path, :class => 'whitelink' %>
					</h3>

				</div>
			</div>
		</li>
		<li>
			<div class="ch-item ch-img-3">
				<div class="ch-info">
					<h3>
						<%= link_to "DISCUSS", main_app.discuss_path, :class => 'whitelink' %>
					</h3>

				</div>
			</div>
		</li>
	</ul>
</section>
<section class="info-text">
	<div class="grey-section">

		<h1>How To Play</h1><br>
		<div class="container howtoplay">
				<ol>
					<li><p>Sign up to create an account.</p></li><br>
					<li><p>Click the play button.</p></li><br>
					<li><p>Select or create a game from the Live Graph.</p></li><br>
					<li><p>Start Koding Live!!!</p></li>
				</ol>
			</div>
	</div>
</section>
<section class="info-text">
	<div class="white-section">

		<h1>
			A Little Bit About Us
		</h1> <br>   
		<p class="intro">
			 KodeKunkurrenz is the first ever live competition koding site.<br> 
		</p><br>
		<p class="intro">
			 We've made competition easier!<br> Compete on any computer. Anywhere.<br><br> Problems range from 5 - 60 minutes.
			    <br> This keeps people fresh and allows for on the go individuals to compete<br> when they only have a little time on the clock. 
		</p>
		<br>
		<p class="intro">
			Create an account with a friend and compete against other teams.<br> Pair programming is one of the many things we aim to promote.    
		</p><br>
		<p class="intro">
			    Screen share competition allows for a twist in the game play<br>
		</p>
		
</section>