
<div class="liveGraph-div">

    <div class="container">
        <div class="row-fluid">
          <div class="span2">
              <div class="well">
                <%= form_tag('/games/create') do %>
                  <%= select_tag "time_limit",
                    options_for_select((5..60)
                      .step(5)
                      .collect
                      .with_index { |x, index| [x, index] }) %>
                  <select name="rated">
                    <option value="true">Rated</option>
                    <option value="false">Unrated</option>
                  </select>
                  <%= submit_tag "Create", class: "btn btn-primary" %>
                <% end %>
              </div>
          </div>
          <div class="span10">
            <div class="well">

            <div id="container" style="width:100%; height:400px;"></div>

            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
    $(function () { 
    $('#container').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: null
        },
        ledgend:{
            enabled: false
        },
        xAxis: {
            alternateGridColor: '#E6F0FF',
            allowDecimals: false,
            tickInterval:10,
            tickmarkPlacement: 'on',
            gridLineWidth: 1,
            min: 5,
            max: 60
        },
        yAxis: {
            title: {
                text: null
            },
            allowDecimals: false,
            tickInterval:1000,
            min:0,
            max:4000
        },
        series: [{
            showInLegend: false,
            data: { num: 1}
        }],
        credits: {
            enabled: false
        }
    });
});
</script>




