<!-- implement staying on the page after creating a game and wait for the click action to send both players into the game-->
<div class="liveGraph-div">

    <div class="container">
        <div class="row-fluid">
          <div class="span2">
              <div class="well">
                <%= form_tag('/games/create') do %>
                  <%= select_tag "time_limit",
                    options_for_select((5..60)
                      .step(5)
                      .collect
                      .with_index { |x, index| [x, x] }) %>
                  <select name="rated">
                    <option value="true">Rated</option>
                    <option value="false">Unrated</option>
                  </select>
                  <%= submit_tag "Create", class: "btn btn-primary" %>
                <% end %>
              </div>
          </div>
          <div class="span10">
            <div class="well">

            <div id="container" style="width:100%; height:400px;"></div>

            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">

var currentOpenGames = null; 


$(function () {
    $('#container').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: null
        },
        ledgend:{
            enabled: false
        },
        xAxis: {
            alternateGridColor: '#E6F0FF',
            allowDecimals: false,
            tickInterval:10,
            tickmarkPlacement: 'on',
            gridLineWidth: 1,
            min: 5,
            max: 60
        },
        yAxis: {
            title: {
                text: null
            },
            allowDecimals: false,
            tickInterval:1000,
            min:0,
            max:4000
        },
        plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                              joinToGame(this.x, this.y);
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
        },
        tooltip: {
            formatter: function() {
                 return "<strong>Time Limit:</strong>" + this.x + '<br/>' + "<strong>Player Rating:</strong>" +this.y ;
            }
        },
        series: [{
            id: '1',
            color: 'blue',
            showInLegend: false,
            data: []
        }],
        credits: {
            enabled: false
        }
    });

    function updateGraph() {

       $.getJSON( "games/open", function( data ) {

            var pointData = [];
            var gameData =[];
            var point = [];
            var chart = $('#container').highcharts();

            for (var i = 0; i < data.length; i++) {
              point.push(data[i]['time_limit']);
              point.push(data[i]['rating']);
              pointData.push(point);
              point.push(data[i]['id']);
              gameData.push(point);
              point = [];
            }

            chart.series[0].setData(pointData);
            currentOpenGames = gameData;
       });
    }

    function joinToGame(xAxis,yAxis) {

      var gameId = 0;
      var problemId = 0;

      for (var i = 0; i < currentOpenGames.length; i++) {
          if(currentOpenGames[i][0] == xAxis && currentOpenGames[i][1] == yAxis){
            gameId = currentOpenGames[i][2];
            break;
          }
          
      }

      $.post( "games/join", { id: gameId }, function( data ) {})

        .done(function(data) {
          if(data['head'] == "ok"){

          window.location.replace("/games/competition/" + gameId);

          }
        })
        .fail(function(data) {
          alert( data.responseJSON.errors);
        });
    }

    setInterval(function() { updateGraph(); },1000);

});

 


</script>





