
<div class="liveGraph-div">

    <div class="container">
        <div class="row-fluid">
          <div class="span2">
              <div class="well">

                  <select >
                      <option>5 Min</option>
                      <option>10 Min</option>
                      <option>20 Min</option>
                      <option>30 Min</option>
                      <option>40 Min</option>
                      <option>50 Min</option>
                      <option>60 Min</option>
                  </select>

                 <input type="text" placeholder="Min Rating">
                 <input type="text" placeholder="Max Rating">

                  <select>
                      <option>Rated</option>
                      <option>Unrated</option>
                  </select>

                 <button class="btn btn-primary" type="submit">Start Game</button>

              </div>
          </div>
          <div class="span10">
            <div class="well">

            <div id="container" style="width:100%; height:400px;"></div>

            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">

var currentOpenGames = null; 


$(function () {
    $('#container').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: null
        },
        ledgend:{
            enabled: false
        },
        xAxis: {
            alternateGridColor: '#E6F0FF',
            allowDecimals: false,
            tickInterval:10,
            tickmarkPlacement: 'on',
            gridLineWidth: 1,
            min: 5,
            max: 60
        },
        yAxis: {
            title: {
                text: null
            },
            allowDecimals: false,
            tickInterval:1000,
            min:0,
            max:4000
        },
        plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                              joinToGame(this.x, this.y);
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
        },
        series: [{
            id: '1',
            color: 'blue',
            showInLegend: false,
            data: [[50, 2000], [50, 1000]]
        }],
        credits: {
            enabled: false
        }
    });

    function updateGraph() {

       $.getJSON( "games/open", function( data ) {

            var newData = [];
            var point = [];
            var chart = $('#container').highcharts();

            for (var i = 0; i < data.length; i++) {
              point.push(data[i]['time_limit']);
              point.push(data[i]['rating']);
              newData.push(point);
              point = [];
            }

            chart.series[0].setData(newData);
            currentOpenGames = newData;
       });
    }

    function joinToGame(xAxis,yAxis) {

      var gameId = 0;

      for (var i = 0; i < currentOpenGames.length; i++) {
          if(currentOpenGames[i]['time_limit'] == xAxis && currentOpenGames[i]['rank'] == yAxis){
            gameId = currentOpenGames[i]['id'];
            break;
          }
          
      }

      $.get( "games/join", { gameId: gameId}, function( data ) {
          
            
       });
    }

    setInterval(function() { updateGraph(); },1000);

});

 


</script>





