#challengeDescription{
    margin: 0;
    overflow-y: auto;
}

.competition-div {
  margin: 15px;
  background-color: #727375;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  a:hover{
    color:black;
  }
}

.nav-tabs > .active > a {
    color: whitesmoke !important;
    background-color: #727375 !important;
}

#editor {
  position:relative;
  top:15px;
  left:15px;
}

#sideBar {
  position:absolute;
  top:83px;
  right:30px;
}

#console {
  margin:15px;
  position:relative;
  top:15px;
}

#consoleContent {
  color:#999;
  overflow-y:auto;
  font-family:Monaco,
	Menlo,
	Consolas,
	'Courier New',
	monospace;
  font-size:12px;
  display:none;
}

#consoleContent>code {
  padding:0;
  margin:0;
  border:0;
}

//stuff for ace
.ace-tm .ace_gutter {
	background: #ebebeb;
	color: #333
}
.ace-tm .ace_print-margin {
	width: 1px;
	background: #e8e8e8
}
.ace-tm {
	background-color: #FFFFFF;
	color: #000000
}
.ace-tm .ace_cursor {
	color: #000000
}
.ace-tm .ace_marker-layer .ace_selection {
	background: #BDD5FC
}
.ace-tm.ace_multiselect .ace_selection.ace_start {
	box-shadow: 0 0 3px 0px #FFFFFF;
	border-radius: 2px
}
.ace-tm .ace_marker-layer .ace_step {
	background: rgb(255, 255, 0)
}
.ace-tm .ace_marker-layer .ace_bracket {
	margin: -1px 0 0 -1px;
	border: 1px solid #BFBFBF
}
.ace-tm .ace_marker-layer .ace_active-line {
	background: #FFFBD1
}
.ace-tm .ace_gutter-active-line {
	background-color : #dcdcdc
}
.ace-tm .ace_marker-layer .ace_selected-word {
	border: 1px solid #BDD5FC
}
.ace-tm .ace_invisible {
	color: #BFBFBF
}
.ace-tm .ace_keyword,
.ace-tm .ace_meta,
.ace-tm .ace_support.ace_constant.ace_property-value {
	color: #AF956F
}
.ace-tm .ace_keyword.ace_operator {
	color: #484848
}
.ace-tm .ace_keyword.ace_other.ace_unit {
	color: #96DC5F
}
.ace-tm .ace_constant.ace_language {
	color: #39946A
}
.ace-tm .ace_constant.ace_numeric {
	color: #46A609
}
.ace-tm .ace_constant.ace_character.ace_entity {
	color: #BF78CC
}
.ace-tm .ace_invalid {
	background-color: #FF002A
}
.ace-tm .ace_fold {
	background-color: #AF956F;
	border-color: #000000
}
.ace-tm .ace_storage,
.ace-tm .ace_support.ace_class,
.ace-tm .ace_support.ace_function,
.ace-tm .ace_support.ace_other,
.ace-tm .ace_support.ace_type {
	color: #C52727
}
.ace-tm .ace_string {
	color: #5D90CD
}
.ace-tm .ace_comment {
	color: #BCC8BA
}
.ace-tm .ace_entity.ace_name.ace_tag,
.ace-tm .ace_entity.ace_other.ace_attribute-name {
	color: #606060
}
.ace-tm .ace_indent-guide {
	background: url(\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==\") right repeat-y
}
