
<div id="footer">
      <div class="container">
        <p id="footer_p"class="muted credit"> Live Code Competition <a href="kodekonkurrenz.com">KodeKonkurrenz</a></p>
        <p id="footer_p"class="muted credit"> Find Out More <a href="kodekonkurrenz.com">About Us</a></p>
        <p id="footer_p"class="muted credit"> Have a Question or Comment? <a href="kodekonkurrenz.com">Contact Us!</a></p>
        <p id="footer_p"class="muted credit"> Privacy Concerns? View our <a href="kodekonkurrenz.com">Privacy Policy</a></p>
        <p id="footer_p"class="muted credit"> Terms Concerns? View our <a href="kodekonkurrenz.com">Terms and Conditions</a> 
        </p>
      </div>

</div>